.table-box {
  width: 90%;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table th {
  background: #007bff;
  color: white;
  padding: 12px;
  text-align: left;
  font-size: 16px;
}

.custom-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.custom-table tr:hover {
  background: #f5f5f5;
  transition: 0.3s;
}



.fee-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 40px;
}

.fee-form input,
.fee-form select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 16px;
}

.submit-btn {
  background: #007bff;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 17px;
  transition: 0.3s;
}

.submit-btn:hover {
  background: #0056d2;
  transform: scale(1.05);
}
