.background-3d {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  background: linear-gradient(135deg, #1b1f3a, #3c4b6e, #6b87b0);
  animation: gradientMove 8s ease infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.layer {
  position: absolute;
  width: 200%;
  height: 200%;
  background: url("https://i.postimg.cc/tJ8F4VT6/particle1.png");
  opacity: 0.4;
  animation: float1 18s linear infinite;
}

.layer2 {
  background: url("https://i.postimg.cc/3rXdSz8F/particle2.png");
  opacity: 0.25;
  animation: float2 25s linear infinite;
}

.layer3 {
  background: url("https://i.postimg.cc/tgP9qZ3g/particle3.png");
  opacity: 0.15;
  animation: float3 35s linear infinite;
}

@keyframes float1 {
  from { transform: translate3d(-100px, -100px, 0); }
  to   { transform: translate3d(100px, 100px, 0); }
}

@keyframes float2 {
  from { transform: translate3d(100px, -150px, 0); }
  to   { transform: translate3d(-100px, 150px, 0); }
}

@keyframes float3 {
  from { transform: translate3d(-150px, 150px, 0); }
  to   { transform: translate3d(150px, -150px, 0); }
}
